export AWS_PROFILE=yb-apj-poc

unset AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN
aws sts get-caller-identity --profile $AWS_PROFILE &>> /dev/null || aws sso login --profile $AWS_PROFILE
eval "$(aws configure export-credentials --profile $AWS_PROFILE --format env)"
